<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>{{ 'homePage' | translate }}</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/charity-list']">الجهات</a>
    <span class="breadcrumb-item fs-16 active">إضافة جهة جديدة</span>
  </nav>
</div>

<form [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <div class="form-card">
    <div class="form-header">
      <h5>إضافة جهة جديدة</h5>
    </div>
    <div class="form-content">
      <div class="row mx-0">
        <div class="form-group col-md-6">
          <label for="nameAr" class="form-lbl">{{ 'global.lables.nameAr' | translate }}<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameAr" id="nameAr" [ngClass]="{
              invalid: (isFormSubmitted || createForm.get('nameAr').touched) && createForm.get('nameAr').errors?.required }" />
          <small *ngIf="(isFormSubmitted || createForm.get('nameAr').touched) && createForm.get('nameAr').errors?.required" class="danger">{{ 'global.validators.requiredField' | translate }}</small>
        </div>
        <div class="form-group col-md-6">
          <label for="nameEn" class="form-lbl">{{ 'global.lables.nameEn' | translate }}<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="nameEn" id="nameEn" [ngClass]="{
              invalid: (isFormSubmitted || createForm.get('nameEn').touched) && createForm.get('nameEn').errors?.required }" />
          <small *ngIf="(isFormSubmitted || createForm.get('nameEn').touched) && createForm.get('nameEn').errors?.required" class="danger">{{ 'global.validators.requiredField' | translate }}</small>
        </div>
        <div class="form-group col-sm-6">
          <label for="phoneNumber">رقم الجوال<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="phoneNumber" id="phoneNumber" maxlength="14" [ngClass]="{
                            invalid: (isFormSubmitted || createForm.get('phoneNumber').touched) &&
                            createForm.get('phoneNumber').errors?.required}" />
          <small *ngIf="(isFormSubmitted || createForm.get('phoneNumber').touched) && createForm.get('phoneNumber').errors?.required"
                 class="danger">هذا الحقل مطلوب</small>
          <small *ngIf="(isFormSubmitted || createForm.get('phoneNumber').touched) && this.createForm.get('phoneNumber').errors != null && !createForm.get('phoneNumber').errors?.isValid"
                 class="danger">أدخل رقم جوال صحيح</small>
        </div>
        <div class="form-group col-sm-6">
          <label for="email">البريد الالكتروني<span class="danger">*</span></label>
          <input type="text" class="form-control" autocomplete="off" formControlName="email" id="email" [ngClass]="{
                            invalid: (isFormSubmitted || createForm.get('email').touched) &&
                            createForm.get('email').errors?.required}" />
          <small *ngIf="(isFormSubmitted || createForm.get('email').touched) && createForm.get('email').errors?.required"
                 class="danger">هذا الحقل مطلوب</small>
          <small *ngIf="(isFormSubmitted || createForm.get('email').touched) && createForm.get('email').errors?.email" class="danger">يجب إدخال بريد الالكتروني صحيح</small>
        </div>
        <div class="form-group col-md-6">
          <label for="address" class="form-lbl">العنوان</label>
          <textarea type="text" class="form-control" autocomplete="off" formControlName="address" id="address"></textarea>
        </div>
        <div class="form-group col-6">
          <label class="container-check">
            {{'global.lables.active' | translate}}
            <input formControlName="isActive" type="checkbox" id="isActive" />
            <span class="checkmark"></span>
          </label>
        </div>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-save">{{ 'global.buttons.save' | translate }}</button>
    <a [routerLink]="['/admin/data-management/charity-list']" class="btn btn-cancel">{{ 'global.buttons.back' | translate }}</a>
  </div>
</form>

