
<footer class="footer pt-60">
  <div class="container">
  <div class="row">
    <div class="col-lg-3 col-sm-4 col-6 col-one mb-2 d-flex align-items-center">
      <img src="assets/images/dimah-logo.png" class="img-fluid filter-img-white mb-lg-0 mb-3" alt="logo" width="220px" />
      <!-- <h5 class="title">ما رأيك في التصميم الجديد للبوابة الإلكترونية ؟</h5>
      <div class="mb-5">
        <label class="custom-radio">
          ممتاز
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="1" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد جدا
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="2" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          جيد
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="3" />
          <span class="checkmark"></span>
        </label>
        <label class="custom-radio">
          مقبول
          <input type="radio" name="designEvaluate" [(ngModel)]="designEvaluate" value="4" />
          <span class="checkmark"></span>
        </label>
        <button type="button" class="btn vote-btn me-auto ms-3" (click)="evaluate()">تصويت</button>
      </div> -->
    </div>

    <div class="col-lg-5 col-8 col-two mb-2">
      <div class="row mx-0">
        <div class="col-sm-6">
          <h5 class="title fw-bold">روابط سريعة</h5>
          <div class="platforms">
            <div>
              <a href="" target="_blank">آخر الأخبار</a>
            </div>
            <div>
              <a href="" target="_blank">أبواب الخير</a>
            </div>
            <div>
              <a href="" target="_blank">مشاريع</a>
            </div>
            <div>
              <a href="" target="_blank">المعلنون</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <h5 class="title fw-bold">عن ديما</h5>
          <div class="platforms">
            <div>
              <a routerLink="/">الأسئلة الشائعة</a>
            </div>
            <div>
              <a routerLink="/">سياسة الخصوصية</a>
            </div>
            <div>
              <a routerLink="/">إمكانية الوصول</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-sm-6 col-12 col-three mb-2">
      <div class="d-flex flex-column h-100 justify-content-end pb-3">
        <h6 class="text-white fa-16 mb-3">الإشتراك فى النشرة البريدية</h6>
        <div class="d-flex overflow-hidden rounded-4">
          <div class="input-group">
            <span class="input-group-text bg-white bg-opacity-75 border-0 rounded-0 px-3 fa-18">
              <i class="fa-regular fa-envelope text-primary"></i>
            </span>
            <input type="text" class="form-control border-0 rounded-0 border-end bg-opacity-75 bg-white" id="emailJoin" placeholder="البريد الإلكترونى" />
          </div>
  
          <a class="btn btn-white text-primary px-4 rounded-0">
            <span>إشتراك</span>
            <i class="fa-solid fa-paper-plane me-2"></i>
          </a>
        </div>
      </div>
      <!-- <h5 class="title">إتصل بنا</h5>
      <div class="contact">
        <div>
          <img src="./assets/images/icons/footer/phone.svg" alt="">
          <a href="javascript:;">
            966 11 4114444
          </a>
        </div>
      </div>
      <div class="social">
        <a href="https://www.youtube.com/user/RiyadhPrincipality" target="_blank">
          <img src="./assets/images/icons/footer/youtube.svg" alt="">
        </a>
        <a routerLink="home/rss">
          <img src="./assets/images/icons/footer/rss.svg" alt="">
        </a>
        <a href="https://twitter.com/emara_riyadh" target="_blank">
          <img src="./assets/images/icons/footer/twitter.svg" alt="">
        </a>
        <a routerLink="home/mobile-applications">
          <img src="./assets/images/icons/footer/mobile-app.svg" alt="">
        </a>
        <a routerLink="home/contact-us">
          <img src="./assets/images/icons/footer/map.svg" alt="">
        </a>
      </div> -->
    </div>
  </div>

  <div class="row py-4">
    <div class="col-12">
      <div class="container">
        <div class="row">
          <div class="col-xl-2 col-md-6 col-sm-4 my-1">
            <img src="assets/images/icons/footer/ssl.svg" alt="icon" class="img-fluid" />
            <img src="assets/images/icons/footer/css3.svg" alt="icon" class="img-fluid" />
            <img src="assets/images/icons/footer/html5.svg" alt="icon" class="img-fluid" />
            <img src="assets/images/icons/footer/w3c.svg" alt="icon" class="img-fluid" width="50" />
          </div>

          <div class="col-xl-5 col-md-6 col-sm-8 my-1 d-flex align-items-center justify-content-sm-end mx-auto flex-wrap">
            <span class="mx-md-3 fw-normal mb-sm-0 mb-2">هذا الموقع يدعم متصفحات</span>
            <div>
              <img src="assets/images/icons/footer/chrome.svg" alt="icon" class="img-fluid mx-1" />
              <img src="assets/images/icons/footer/firefox.svg" alt="icon" class="img-fluid mx-1" />
              <img src="assets/images/icons/footer/safari.svg" alt="icon" class="img-fluid mx-1" />
              <img src="assets/images/icons/footer/edge.svg" alt="icon" class="img-fluid mx-1" />
              <img src="assets/images/icons/footer/opera.svg" alt="icon" class="img-fluid mx-1" />
            </div>
          </div>

          <div class=" col-xl-5 my-2 d-flex align-items-center justify-content-lg-end flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center">
              <img src="assets/images/icons/footer/refresh.svg" alt="icon" class="img-fluid" width="14px">
              <span class="fa-12 fw-normal d-inline-block mx-2">آخر تحديت للموقع فى</span>
            </div>
            <h6 class="mb-0 fa-12">{{lastSieUpdate}}</h6>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>

  <div class="row mx-0 py-3 bottom-nav">
    <div class="col-md-11 mx-auto">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-1 d-flex flex-wrap align-items-center">
            <img src="assets/images/dimah-logo.png" alt="logo" class="ml-opacity filter-img-white img-fluid mb-md-0 mb-2" width="80px">

            <div>
              <a routerLink="/home/privacy" class="fw-normal">سياسة الخصوصية</a>
              <a routerLink="/home/conditions" class="fw-normal">شروط الاستخدام</a>
              <a routerLink="/home/sla" class="fw-normal">اتفاقية مستوى الخدمة</a>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center justify-content-end my-1 flex-wrap">
            <div class="fw-normal my-1">
              <span>جميع الحقوق محفوظة</span>
              <span>&nbsp; &copy; &nbsp;</span>
              <span>لصالح منصة ديما للصدقة اليومية</span>
            </div>
            <a href="https://www.vision2030.gov.sa/ar/" target="_blank" class="ps-0 my-1">
              <img src="assets/images/icons/footer/vision-opacity.svg" alt="logo" class="mr-opacity img-fluid">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

