<div class="d-lg-flex justify-content-between align-items-center bread-container">
  <nav class="breadcrumb m-0 p-0 bg-transparent">
    <a class="breadcrumb-item fs-16" routerLink="/admin/home"><i class="las la-home fs-20"></i>{{ 'homePage' | translate }}</a>
    <a class="breadcrumb-item fs-16" [routerLink]="['/admin/data-management/project-type-list']">{{ 'project-type.title' | translate }}</a>
    <span class="breadcrumb-item fs-16 active">{{ 'project-type.detailsTitle' | translate }}</span>
  </nav>
</div>

<div class="form-card">
  <div class="form-header">
    <h5>{{ 'project-type.detailsTitle' | translate }}</h5>
  </div>
  <div class="form-content">
    <div class="row mx-0">
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">{{ 'global.lables.nameAr' | translate }}</span>
        <span class="form-val">{{ detailsDto?.nameAr }}</span>
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">{{ 'global.lables.nameEn' | translate }}</span>
        <span class="form-val">{{ detailsDto?.nameEn }}</span>
      </div>
      <div class="form-group col-6" *ngIf="detailsDto?.imageName">
        <img [src]="['/assets/images/uploads/projectTypes/'+detailsDto?.imageName]" [alt]="detailsDto?.nameEn" style="width: 100%; height: 200px;" />
      </div>
      <div class="info-col col-md-6 col-12">
        <span class="form-lbl lbl-33">{{ 'global.lables.status' | translate }}</span>
        <span class="form-val">{{ detailsDto?.isActive ? ('global.lables.active' | translate) : ('global.lables.notActive' | translate) }}</span>
      </div>
    </div>
  </div>
</div>

<div class="form-actions">
  <a [routerLink]="['/admin/data-management/project-type-list']" class="btn btn-cancel">{{ 'global.buttons.back' | translate }}</a>
</div>
