<div class="ser-bg">
  <div class="ser-bread">
    <nav class="breadcrumb m-0 bg-transparent">
      <div class="container d-flex align-items-center">
        <a class="breadcrumb-item" [routerLink]="['/']"><i class="las la-home"></i>الرئيسية</a>
        <a class="breadcrumb-item" [routerLink]="['/cart']">سلة الخير</a>
        <span class="breadcrumb-item fs-16 active">الدفع</span>
      </div>
    </nav>
  </div>
</div>

<div class="container pt-md-4 pt-3 pb-5">
  <div class="row">
    <div class="col-12">
      <h3 class="text-primary fw-bold mb-4">الدفع</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="border bg-white rounded-26 shadow-box overflow-hidden">
        <div class="bg-primary p-4 d-flex align-items-center justify-content-between">
          <h6 class="fa-18 fw-bold mb-0 text-white">المبلغ المطلوب</h6>
          <p class="fa-18 mb-0 text-white"><span>150</span> ر.س</p>
        </div>

        <div class="p-4 pb-2">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h6 class="fa-16 fw-bold mb-0">سقيا الماء</h6>
            <p class="fa-16 mb-0"><span>50</span> ر.س</p>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h6 class="fa-16 fw-bold mb-0">زواج أرامل</h6>
            <p class="fa-16 mb-0"><span>50</span> ر.س</p>
          </div>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h6 class="fa-16 fw-bold mb-0">إفطار صائم</h6>
            <p class="fa-16 mb-0"><span>50</span> ر.س</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-3 pe-md-5">
        <div class="border bg-white rounded-26 shadow-box overflow-hidden">
          <div class="bg-primary p-4 d-flex align-items-center">
            <h6 class="fa-18 fw-bold mb-0 text-white">بطاقة الدفع</h6>
          </div>
  
          <div class="p-4 pb-2">
            <div class="mb-3">
                <h6 class="fa-14 fw-bold mb-2">الاسم على البطاقة</h6>
                <input class="form-control" type="text" placeholder="اكتب..." />
            </div>
          </div>

          <div class="px-4 pb-4 pt-3">
            <button class="btn btn-primary w-100" routerLink="/payment-result">إتمام عملية التبرع</button>
          </div>
        </div>
      </div>
  </div>
</div>
