<nav class="navbar navbar-expand-lg box-shadow-2 d-flex fixed-top justify-content-between px-2 py-2">
  <div class="d-flex justify-content-between align-items-center">
    <a href="/#/admin/" class="navbar-brand p-0 m-0">
      <div class="d-flex align-items-center">
        <img src="assets/images/dimah-logo.png" class="img-fluid" alt="logo" width="120px" />
      </div>
    </a>

    <div class="bar icon-toggle-side-menu me-md-5">
      <i class="fa-solid fa-bars-staggered"></i>
    </div>
  </div>

  <ul class="d-flex justify-content-between align-items-center list-unstyled mb-0">
    <div class="dropdown languages">
      <button class="btn dropdown-toggle px-0" type="button" id="dropdownMenuLanguages" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/images/icons/header/language.svg" class="img-fluid img-filter-grey" alt="languages" width="22">
      </button>
      <div class="dropdown-menu right-auto" aria-labelledby="dropdownMenuLanguages">
        <a class="dropdown-item" (click)="changeLang()">
          <img src="assets/images/icons/pic/ksa-flag.png" class="img-fluid ms-2" alt="flag" width="26px" />
          <span>عربى</span>
        </a>
        <a class="dropdown-item" (click)="changeLang()">
          <img src="assets/images/icons/pic/usa-flag.png" class="img-fluid ms-2" alt="flag" width="26px" />
          <span>EN</span>
        </a>
      </div>
    </div>
    
    <li class="nav-item dropdown mx-3 profile-dropdown">
      <div class="nav-link dropdown-toggle p-0 primary-text cursor-pointer" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-flex align-items-center prrof">
          <img src="/assets/images/businessman.png" width="30" height="30" alt="" *ngIf="userInfo.image == null"
            class="rounded-circle mx-2 align-bottom border" style="background-color: #f8f8f8" />

            <img [src]="userInfo.image?.base64File" width="30" height="30" alt="" *ngIf="userInfo.image != null"
            class="rounded-circle mx-2 align-bottom border" style="background-color: #f8f8f8" />

          <div class="d-flex align-items-center">
            <p class="fa-12 fw-normal text-primary-alt-3 ms-3 mb-0">{{ userInfo?.fullName }}</p>
            <i class="fa-solid fa-chevron-down fa-10 text-muted"></i>
          </div>
        </div>
      </div>
      <div class="dropdown-menu p-0 border-0 box-shadow-1 py-2" aria-labelledby="navbarDropdown">
        <a routerLink="/" class="dropdown-item">
          <i class="fa fa-home"></i>
          <span>{{ 'homePage' | translate }}</span>
        </a>
        <a class="dropdown-item">
          <i class="fa fa-user"></i>
          <span>الملف الشخصي</span>
        </a>
        <a (click)="logOut()" class="dropdown-item text-danger">
          <i class="fa fa-sign-out-alt"></i>
          <span>تسجيل خروج</span>
        </a>
      </div>
    </li>
  </ul>
</nav>
