<!-- home banner section -->
<div class="home-slider mb-md-5 mb-3 pb-md-3 pb-0" *ngIf="banners.length > 0">
  <div class="owl__carousel">
    <owl-carousel-o [options]="bannerSliderOptions" class="owl-rtl">
      <ng-template carouselSlide *ngFor="let banner of banners">
        <img *ngIf="banner?.imgUrl" [src]="banner?.imgUrl" [alt]="banner?.titleEn" class="img-fluid slider" />
      </ng-template>
    </owl-carousel-o>
  </div>
</div>

<div class="container">
  <div class="row mb-md-5 mb-0">
    <!-- latest news -->
    <div class="col-lg-6 col-md-7 mb-md-3 mb-5">
      <div class="news">
        <div class="section-title mb-4">
          <h3 class="title">آخر الأخبار</h3>
          <div class="more d-flex">
            <a routerLink="/latest-news">
              <span>تصفح جميع الأخبار</span>
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          </div>
        </div>

        <div class="owl__carousel">
          <owl-carousel-o [options]="newsOptions" class="owl-rtl">
            <ng-template carouselSlide *ngFor="let news of latestNews">
              <div class="owl-item">
                <div class="item">
                  <div class="news-card cursor-pointer rounded-26 overflow-hidden" [routerLink]="['home/news-details' , _globalService.encryptNumber(news.id)]">
                    <img [src]="news?.imageUrl != '' ? news?.imageUrl : 'assets/images/placeholder.jpg'" [alt]="news?.title" class="img-fluid news-img" />

                    <img src="assets/images/news-overlay.png" alt="overlay" class="img-fluid overlay" />

                    <div class="news-caption">
                      <h6>{{ news?.title }}</h6>
                      <p>{{ news?.desc }}</p>

                      <span class="date">
                        <img src="assets/images/icons/date-white.svg" class="date-icon" alt="icon" />
                        <span class="date-desc">
                          {{news?.date}}
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
      </div>
    </div>

    <!-- chairty section -->
    <div class="col-lg-6 col-md-5 mb-3 pe-md-5">
      <div class="chairty-section">
        <div class="section-title mb-4">
          <h3 class="title">أبواب الخير</h3>
          <div class="more d-flex">
            <a routerLink="/chairty-services">
              <span>جميع أبواب الخير</span>
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          </div>
        </div>
  
        <div class="row chairty-mb">
          <div class="col-lg-6 col-md-12 col-sm-4 col-6" *ngFor="let item of chairtyItems">
            <a class="card-bg mxw-240 mb-3" [routerLink]="'/chairty-services/' + item?.id">
              <div class="card-overlay" [style.background-image]="'url('+item?.imageUrl+')'"></div>
  
              <h4>{{item?.title}}</h4> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ads banner -->
  <div class="row mb-5" *ngIf="adsItems.length > 0">
    <div class="col-12">
      <div class="owl__carousel overflow-hidden rounded-26">
        <owl-carousel-o [options]="adsBannerOptions" class="owl-rtl">
          <ng-template carouselSlide *ngFor="let item of adsItems">
            <a [routerLink]="item?.requestLink" target="_blank">
              <img [src]="item?.imageUrl ? item?.imageUrl : 'assets/images/placeholder.jpg'" [alt]="item?.title" class="img-fluid slider rounded-26" />
            </a>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>